<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>FLINAT: {{ title }}</title>
        <link rel="stylesheet" href="{{ './css/base.css' | url }}">
    </head>
    <body>
        <main>
            {{ content | safe }}
        </main>
        {% include "layouts/footer.njk" %}
    </body>
</html>
