/* most basic css ever */
:root {
    --primary-color: #15216b;
    --secondary-color: #020624;
    --highlight-color: magenta;
    --blackish: #333333;
    --whiteish: #f0f0f5;
}

body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: var(--secondary-color);
    background:var( --secondary-color);
    font-size: 16px;
    line-height: 1.4;
    margin: 0;
    padding: 10px 0;
}
* {
    box-sizing: border-box;
}
a {
    color: var(--primary-color);
    font-weight: 500;
    text-decoration: none;
    border-bottom: 1px solid var(--highlight-color);
}
h1,h2,h3,h4,h5,h6 {
    font-weight: 500;
    color: var(--blackish);
    margin-top: 0;
}
h1,h2 {
    line-height: 1.1;
    margin-bottom: 10px;
}
p {
    margin: 0 0 20px 0;
}
small {
    display: block;
    margin-top: 20px;
}
ul {
    padding-left: 16px;
}
li {
    padding: 4px 0;
}
footer {
    border-top: 1px solid var(--primary-color);
    text-align: center;
}
.back-link {
    display: inline-block;
    margin-right: 50px;
}
main,
.center {
    max-width: 95vw;
    margin: 0 auto;
    background: var(--whiteish);
    padding: 20px;
}
@media (min-width: 768px) {
    main,
    .center {
        max-width: 700px;
    }
}
